target
logs
frontend/node_modules
frontend/dist
*.jar
.env
.env.*
.git
.gitignore
.gitattributes
.vscode
.devcontainer
.idea
*.iml
.classpath
.project
.settings
.factorypath
.springBeans
.sts4-cache
*.code-workspace
Dockerfile
docker-compose*.yml
.dockerignore
Thumbs.db
Desktop.ini
.DS_Store
README.md
*.md
docs
bin