.Map {
    width: 100%;
    height: 100%;
    max-height: 360px;
    min-height: 360px;
    border-radius: 12px;
    flex-basis: auto;
}

.placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 0;
  min-height: 220px;
  border-radius: 12px;
  font-size: 14px;
}